html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#img1 {
    padding-left: 25%;
    padding-right: 25%;
    width: 40%;
    position: relative;
    margin-top: -25%;
opacity: 0.8;
}

#p{
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
    bottom: 0.1;
    color:rgb(2, 187, 178);
    font-size: 20px;
    font-size: bold;    
    
}